@charset "utf-8";

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section {
  position: relative;
  width: 100vw;
  min-width: 100vw;
  height: calc(100vh - 8px);
  background-image: url(../images/pc6.webp);
  background-position: center;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

/* main {
  display: flex;
  overflow-x: auto;
  

  justify-content: center;
  align-items: center;
  background-image: url(../images/pc6.webp);
  background-position: center;
  background-size: 100% auto;
  background-repeat: no-repeat;
} */

.about-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0 auto;
}
.about-me {
  width: 600px;
}

.name-box {
  position: relative;
  margin-bottom: 10px;
}
.name-box img {
  width: 240px;
}
.about-me .name-box p {
  position: absolute;
  top: -14px;
  left: 0;
  font-size: 1.5vw;
  font-family: "ab-tombo-bold";
}
.about-me .name-box span {
  font-size: 1vw;
}
.about-me p {
  text-align: left;
  font-feature-settings: "palt";
  letter-spacing: 0.2em;
  line-height: 1.6;
  font-size: 1vw;
}

.about-top {
  display: block;
  text-align: right;
  margin-top: 10px;
  margin-right: -240px;
}
