@charset "utf-8";

/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
  margin: 0;
  padding: 0;
  line-height: 1;
  /*デフォルトの文字色、font-familyを予め当てておく*/
  color: #0c68d2;
  font-family: "irohamaru", "ab-tombo-bold", "游ゴシック体", YuGothic,
    "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", sans-serif;
}

a {
  /*下線を消す*/
  text-decoration: none;
  /*色を消す*/
  color: inherit;
}

ul {
  /*左の「・」を消す*/
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
  border: none;
}

/* 全ページ */
main {
  background: #c5eeff;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: scroll; /* 画面幅からはみだした場合に横スクロールにする */
}

/* 横スクロールバーのデザイン */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track {
  background-color: #ccc;
}
::-webkit-scrollbar-thumb {
  background-color: #17585d;
}
